body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

h1 {
  color: #66bfbf;
  font-family: "Pacifico", cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

hr {
  border: 0;
  border-top: 10px dotted #eaf6f6;
  width: 20%;
  margin: 100px auto;
}

.top-container {
  background-color: powderblue;
  position: relative;
  padding-top: 100px;
}

.top-container {
  background-color: #e4f9f5;
}

.middle-container {
  padding-top: 50px;
}

.bottom-container {
  background-color: #66bfbf;
  color: #eaf6f6;
  line-height: 3;
  padding: 20px;
}

.copyright {
  color: #eaf6f6;
  
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  clear: both;
}

.profile-image {
  width: 200px;
}

.web-developer-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.programming-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #11cdd4),
    color-stop(1, #01999e)
  );
  padding: 3px 20px;
  margin: 20px auto;
  background: -moz-linear-gradient(center top, #11cdd4 5%, #01999e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#01999e');
  background-color: #11cdd4;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #154682;
}
.btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #01999e),
    color-stop(1, #11cdd4)
  );
  background: -moz-linear-gradient(center top, #01999e 5%, #11cdd4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01999e', endColorstr='#11cdd4');
  background-color: #01999e;
}
.btn:active {
  position: relative;
  top: 1px;
}
